<a class="rounded-[16px]">
  <div class="rounded-[16px] overflow-hidden border border-[#EAECF2] hover:shadow-[0_0_10px_#1C79C040]">
    <img src="./assets/imgs/image-1.png" alt="" class="w-full">
    <div class="p-[20px] bg-[#fff]">
      <div class="flex gap-[20px] mb-[12px]">
        <div class="flex items-center gap-[6px]">
          <span class="icon-calendar before:text-[#1C79C0]! text-[22px]"></span>
          <p class="text-[#1C79C0] text-[20px] font-[600]">dsadd</p>
        </div>
        <div class="flex items-center gap-[6px]">
          <span class="icon-view before:text-[#1C79C0]!"></span>
          <p class="text-[#1C79C0] text-[20px] font-[600]">dsadsa</p>
        </div>
      </div>
      <div>
        <p class="text-[24px] text-[#020A0C] font-[700] text-ellipsis">{{teacher.fullName}}</p>
      </div>
    </div>
</div>
</a>
