

<div class="bg-[#00205B]">
    <div class="max-w-[1640px] mx-auto">
      <div class="py-[60px] grid grid-cols-3">
        <div class="grid gap-[24px]">
          <div class="flex items-center gap-[16px]">
            <div class="">
              <h2 class="text-[32px] font-[800] uppercase leading-[100%] text-[#fff]" >KAFEDRA</h2>
              <p class="text-[13px] font-[500] uppercase  text-[#fff]">Kafedra boshqarish dasturi</p>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-[12px]">
          <p class="text-[24px] font-[700] text-[#0DD3FF] leading-[120%]">Bo‘limlar</p>
          <div class="grid grid-cols-2 justify-between">
            <div class="flex flex-col gap-[8px]">
              <a href="" class="text-[18px] font-[400] text-[#fff] leading-[130%]">Home</a>
              <a href="" class="text-[18px] font-[400] text-[#fff] leading-[130%]">Kafedralar</a>
              <a href="" class="text-[18px] font-[400] text-[#fff] leading-[130%]">Ustozlar</a>
            </div>
            <div class="flex flex-col gap-[8px]">
              <a href="" class="text-[18px] font-[400] text-[#fff] leading-[130%]">Fanlar</a>
              <a href="" class="text-[18px] font-[400] text-[#fff] leading-[130%]">Kontaktlar</a>
            </div>
          </div>
        </div>
        <div class="flex flex-col gap-[12px]">
          <p class="text-[24px] font-[700] text-[#0DD3FF] leading-[120%]">Aloqa</p>

          <div class="flex flex-wrap gap-[16px]">
            <div class="p-[10px] bg-[#1C79C0] rounded-[12px] flex items-center gap-[6px]">
              <span class="icon-phone text-[24px]"></span>
              <p class="text-[18px] font-[400] text-[#fff] leading-[130%]">+998 77 777 77 77</p>
            </div>
            <div class="p-[10px] bg-[#1C79C0] rounded-[12px] flex items-center gap-[6px]">
              <span class="icon-email "></span>
              <p class="text-[18px] font-[400] text-[#fff] leading-[130%]">info&#64;gmail.uz</p>
            </div>
            <div class="p-[10px] bg-[#1C79C0] rounded-[12px] flex items-center gap-[6px]">
              <p class="text-[18px] font-[400] text-[#fff] leading-[130%]">Sergeli 6a, Toshkent O`zbekiston</p>
            </div>
          </div>
        </div>
      </div>
    </div>


</div>
